@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.gallery-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

.gallery-app-header {
    position: absolute;
    height: 9vh;
    width: 100%;
    background-color: #000;
    text-align: center;
    line-height: 12.5vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
}

.gallery-homescreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0vh;
}

.gallery-detailscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -30vh;
}
.gallery-postscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -30vh;
}

.gallery-images {
    position: absolute;
    width: 85%;
    height: 44.5vh;
    /* background-color: rgba(0, 0, 0, 0.1); */
    top: 10.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.gallery-images::-webkit-scrollbar {
    display: none;
}

.tumbnail{
    width: 100%;
    border-radius: 0.3vh;
}

.gallery-image {
    display: inline-block;
    width: 50%;
    padding: 0.2vh;
    height: 7.1vh;
    
}
.gallery-details {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.1); */
    height: 76%;
    width: 84%;
    margin: 0 auto;
    left: 0vh;
    right: 0;
    top: 11vh;
}



.return-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.return-button > div {
    margin: 2px;
    width: 100%;
    height: 5vh;
    background-color: rgb(233, 233, 233);
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
}

.return-button > div:hover {
    background-color: rgb(212, 212, 212);
}

.make-post-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.make-post-button > div {
    margin: 2px;
    width: 80%;
    height: 5vh;
    background-color: #1da1f2;
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
}

.make-post-button > div:hover {
    background-color: #1da1f2;
}

#delete-button {
    margin: 2px;
    width: 20%;
    height: 5vh;
    background-color: #921010;
    color: #fff;
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
}
#delete-button:hover {
    background-color: #742323;
}

.posts-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tweet-button {
    margin: 2px;
    width: 50%;
    height: 5vh;
    
    color: #fff;
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    background-color: #08a0e9;
}
#tweet-button > div:hover {
    background-color: #0084b4;
}

#advert-button {
    margin: 2px;
    width: 50%;
    height: 5vh;
    color: #fff;
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    background-color: #ff8f1a;
}
#advert-button > div:hover {
    background-color: #cf812d;
}



#new-textarea {
    border: none;
    height: 15vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: rgb(233, 233, 233);
    outline: none;
    border-bottom: 2px solid #1da0f200;
    resize: none;
    transition: border-bottom 0.1s ease-in-out;
    font-family: 'Poppins', sans-serif;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 12vh;
    width: 100%;
    border-radius: 1vh 1vh 0 0;
    box-shadow: inset 0 0 2vh 0 rgb(0 0 0 / 9%);

}