@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.lawyers-app {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgb(0, 0, 0);
}

.lawyers-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    top: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
}

.lawyers-header > p {
    line-height: 12vh;
    text-indent: 2vh;
    margin: 0 0 0 9vh;
}

.lawyers-header > span {
    position: absolute;
    top: 8vh;
    left: 9vh;
    font-size: 1.2vh;
    height: 2vh;
    color: white;
}

.lawyers-list {
    position: absolute;
    width: 90%;
    height: 73%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3%;
    border-radius: .5vh;
    overflow-y: scroll;
}

.lawyers-list::-webkit-scrollbar {
    display: none;
}

.lawyer-list {
    position: relative;
    width: 95%;
    height: 6vh;
    margin: 2.5%;
    background: rgba(23, 23, 23, 90%);
    border-radius: 0.15rem;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
}

.lawyer-list-firstletter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3.5vh;
    height: 3.5vh;
    background-color: rgb(42, 137, 214);
    text-align: center;
    left: 1vh;
    line-height: 3.5vh;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
    color: white;
}

.lawyer-list-fullname {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    max-width: 14vh;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: white;
}

.no-lawyers {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 14vh;
    color: white;
}

.lawyer-list-call {
    color: white;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    right: 2vh;
    font-size: 2vh;
    transform: rotate(90deg);
    transition: .08s ease-in-out;
}

.lawyer-list-call:hover {
    color: rgb(49, 214, 60);
    opacity: .8;
    transform: rotate(0deg);
    cursor: pointer;
}
