@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.mail-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(167, 162, 162);
    overflow: hidden;
}

.mail-home {
    position: relative;
    left: 0;
}

.mail-header {
    display: block;
    height: 12vh;
    width: 100%;
    background: rgba(0, 108, 134, 0.377);
}

#mail-header-text {
    position: absolute;
    top: 5vh;
    left: 12vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1vh;
    color: white;
}

#mail-header-mail {
    position: absolute;
    top: 7vh;
    left: 6vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vh;
    color: white;
}

#mail-header-lastsync {
    position: absolute;
    top: 10vh;
    right: 1.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1vh;
    color: white;
}

.mail-list {
    position: absolute;
    width: 94%;
    height: 44.5vh;
    top: 15vh;
    left: 1vh;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

.mail-list::-webkit-scrollbar {
    display: none;
}

.mail {
    position: relative;
    height: 7.5vh;
    width: 90%;
    left: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
    transition: .05s ease-in-out;
    background: rgba(23, 23, 23, 90%);
    border-radius: 0.15rem;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
}

.mail:hover {
    background-color: #12caeb8f;
    transition: .05s ease-in-out;
}

.mail-sender {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vh;
    color: white;
    left: 0.5vh;
    top: 1vh;
}

.mail-text {
    position: absolute;
    top: 3.3vh;
    left: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.15vh;
    color: white;
    max-width: 18vh;
    width: 16vh;
}
.mail-text > p {
    white-space: nowrap;
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.mail-time {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vh;
    color: white;
    right: 0.5vh;
    top: 1vh;
}

.opened-mail {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(36, 36, 36);
    overflow: hidden;
    top: 0;
    left: -30vh;
}

.opened-mail-header {
    display: block;
    height: 14vh;
    width: 100%;
}

.mail-back {
    position: absolute;
    top: 5.5vh;
    left: 1.9vh;
}

.mail-back > i {
    color: white;
    font-size: 2vh;
    transition: .05s ease-in-out;
}

.mail-back:hover #mail-back {
    color: #dc143c;
    transition: .05s ease-in-out;
}

.mail-subject {
    position: absolute;
    color: white;
    top: 8vh;
    left: 2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
    max-width: 22vh;
}

.mail-subject > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-date {
    position: absolute;
    top: 13vh;
    left: 2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vh;
    color: white;
}

.mail-spacing {
    position: absolute;
    width: 93%;
    background-color: white;
    height: .2vh;
    top: 15.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 20vh;
}

.mail-content {
    position: absolute;
    height: calc(100% - 250px);
    top: 17.3vh;
    left: 2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vh;
    color: white;
    max-width: 23vh;
    overflow-y: scroll;
}
.mail-content::-webkit-scrollbar {
    display: none;
}
.mail-content > p {
    white-space: nowrap;
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 100;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.opened-mail-footer {
    position: absolute;
    width: 100%;
    height: 4vh;
    bottom: 40px;
}

.opened-mail-footer-item {
    position: relative;
    width: 50%;
    height: 4vh;
    text-align: center;
    line-height: 4.3vh;
    color: white;
    font-size: 1.8vh;
    transition: .1s ease-in-out;
    float: left;
}

.opened-mail-footer-item:hover {
    color: #dc143c;
}

.opened-mail-footer-item:hover .mail-icon {
    font-size: 1.9vh;
    transition: .1s ease-in-out;
    animation: Shake 1s infinite;
}

@keyframes Shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

/* Advert App */

.advert-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(36, 36, 36);
    overflow: hidden;
}

.advert-header {
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 0;
}

#advert-header-text {
    position: absolute;
    top: 6vh;
    left: 8vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
    color: white;
}

#advert-header-name {
    position: absolute;
    top: 9vh;
    left: 6vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    color: white;
}

.advert-list {
    position: absolute;
    width: 99%;
    height: 39.5vh;
    top: 12vh;
    left: .1vh;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

.advert-list::-webkit-scrollbar {
    display: none;
}
.advert {
    position: relative;
    background-color: #ff8f1a;
    height: auto;
    min-height: 4vh;
    width: 90%;
    transition: .05s ease-in-out;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 0.15rem;
    text-align: center;
}

.advert > p {
    margin-top: 1.5vh;
    font-family: 'Poppins', sans-serif;
    max-width: 25vh;
    color: black;
    font-weight: bolder;
}

.advert:hover {
    background-color: rgb(255, 154, 46);
    transition: .05s ease-in-out;
}

.advert-sender {
    position: relative;
    top: .8vh;
    color: black;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vh;
}

.test-slet {
    position: absolute;
    width: 100%;
    height: 4.2vh;
    top: 52.6vh;
    transition: .1s ease-in-out;
    text-align: center;
    line-height: 4.2vh;
    font-size: 2.3vh;
    color: white;
    background-color: rgb(36, 36, 36);
}

.test-slet:hover {
    transition: .1s ease-in-out;
}

.test-slet:hover .test-icon {
    color: #ff8f1a;
    transition: .1s ease-in-out;
    animation: Shake 1s infinite;
}

.new-advert {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgb(36, 36, 36);
    overflow: hidden;
    left: -30vh;
}

.new-advert-footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 5vh;
}

.new-advert-footer-item {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    line-height: 5vh;
    font-size: 2.2vh;
    transition: .1s linear;
    color: white;
}

.new-advert-footer-item:hover {
    transition: .1s linear;
}

.new-advert-footer-item:hover .new-advert-icon {
    color: #ff8f1a;
    animation: Shake 1s infinite;
}

.new-advert-header {
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 0;
}

#new-advert-header-text {
    position: absolute;
    top: 6vh;
    left: 6vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
    color: white;
}

#advert-new-url{
    position: absolute;
    height: 4vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: rgba(23, 23, 23, 90%);
    outline: none;
    resize: none;
    font-family: 'Poppins', sans-serif;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 45vh;
    width: 22vh;
    border-radius: 7px;
    color: white;
    border: 2px solid rgb(255, 154, 46);
}

#advert-new-url::-webkit-scrollbar {
    display: none;
}

.new-advert-textarea {
    position: absolute;
    margin: 0 auto;
    left: 0;
    color: white;
    right: 0;
    top: 12vh;
    height: 30vh;
    width: 80%;
    outline: none;
    resize: none;
    border-radius: 7px;
    border: 2px solid rgb(255, 154, 46);
    background-color: rgba(23, 23, 23, 90%);
    padding: 1.5vh;
    font-family: 'Poppins', sans-serif;
    transition: .1s linear;
}

.advert-home {
    position: relative;
    left: 0;
}

.nomails {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    line-height: 20vh;
}