@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.settings-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

.settings-app-header {
    position: relative;
    /* font-family: "Roboto Condensed", sans-serif; */
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    top: 70px;
    color: rgb(0, 0, 0);
    font-style: normal;
}

.settings-app-tab-appereance {
    position: absolute;
    top: 15vh;
    height: 100%;
    width: 100%;
}

.settings-app-tab-information {
    position: absolute;
    top: 30vh;
    height: 100%;
    width: 100%;
}

.settings-app-tab {
    position: relative;
    width: 90%;
    border-radius: 2vh;
    height: 6vh;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    left: 15px;
    /* box-shadow: 0rem 0rem 0.1rem 0.05rem #000000; */
    box-shadow: 0 0 20px 0px black;
}

.settings-app-tab:hover {
    background-color: #005299;
    transition: .5s ease;
}

.settings-app-tab-header {
    position: absolute;
    top: -2.5vh;
    height: 2.6vh;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    width: 100%;
}

.settings-app-tab-header > p {
    padding-left: 1vh;
}

.settings-tab-icon {
    position: absolute;
    left: 2vh;
    top: 1.5vh;
    font-size: 2.3vh;
}

.settings-tab-icon > img {
    position: absolute;
    width: 3.3vh;
    height: 3.3vh;
    border-radius: 50%;
    box-shadow: 0 0 .5vh 0 rgba(0, 0, 0, 0.05);
    margin-left: -.3vh;
}

.settings-tab-title {
    position: absolute;
    left: 6.2vh;
    top: 1.2vh;
    font-size: 1.3vh;
    font-family: "Roboto Condensed", sans-serif;
}

.settings-tab-description {
    position: absolute;
    left: 6.2vh;
    top: 3.2vh;
    font-size: 1.2vh;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(0, 0, 0);
}

.settings-background-tab {
    display: block;
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
}

.settings-profilepicture-tab {
    display: block;
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
}

.background-options {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 13vh;
}

.background-option {
    position: relative;
    width: 90%;
    /* border-radius: 0.15rem; */
    border-left: 2px solid cyan;
    height: 6vh;
    margin-bottom: 10px;
    color: white;
    background: rgba(23, 23, 23, 90%);
    left: 15px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
}

.background-option:hover {
    background-color: rgb(39, 65, 65);
    transition: .5s ease;
}

.background-option-icon {
    position: absolute;
    height: 100%;
    width: 6vh;
    text-align: center;
    line-height: 7vh;
    font-size: 2.3vh;
    color: #fbc531;
}

.background-option-title {
    position: absolute;
    left: 6vh;
    top: 1.5vh;
    text-align: center;
    font-size: 1vh;
    color: white;
    font-size: 1.3vh;
    font-family: "Roboto Condensed", sans-serif;
}

.background-option-description {
    position: absolute;
    left: 6vh;
    top: 3.6vh;
    text-align: center;
    font-size: 1vh;
    color: white;
    font-size: 1.1vh;
    font-family: "Roboto Condensed", sans-serif;
}

.background-option-current {
    position: absolute;
    right: 3vh;
    top: 2.5vh;
    text-align: center;
    font-size: 1.6vh;
    color: green;
    font-family: "Roboto Condensed", sans-serif;
}

.background-buttons {
    position: absolute;
    bottom: 40px;
    height: 5vh;
    width: 100%;
}

.background-button {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 4.7vh;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5vh;
    transition: .05s;
}

.background-button:hover {
    border-top: .3vh solid rgb(39, 65, 65);
}

.background-custom {
    display: none;
    position: absolute;
    height: 40%;
    width: 80%;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.247);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -23vh;
    border-radius: 2vh;
    overflow: hidden;
}

.background-custom-title {
    font-family: "Roboto Condensed", sans-serif;
    padding: 2vh;
    font-size: 1.5vh;
    text-align: center;
}

.custom-background-input {
    position: absolute;
    left: 1vh;
    background: none;
    border: none;
    outline: none;
    height: 3.5vh;
    width: 21vh;
    font-family: "Roboto Condensed", sans-serif;
    background: rgb(235, 235, 235);
    border-radius: 2vh;
    text-align: center;
}

.custom-background-input::placeholder {
    text-align: center;
}

.background-custom-buttons {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    height: 5vh;
}

.custom-background-button {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 4.1vh;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5vh;
    transition: .08s;
    border-bottom: 2px solid #e8421800;
}

.custom-background-button:hover {
    font-weight: bolder;
    color: rgb(39, 65, 65);
}


.profilepicture-options {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 13vh;
}

.profilepicture-option {
    position: relative;
    width: 90%;
    border-radius: 0.15rem;
    height: 6vh;
    margin-bottom: 10px;
    color: white;
    background: rgba(23, 23, 23, 90%);
    left: 15px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
}

.profilepicture-option-icon {
    position: absolute;
    height: 100%;
    width: 6vh;
    text-align: center;
    line-height: 7vh;
    font-size: 2.3vh;
    color: #fbc531;
}

.profilepicture-option-title {
    position: absolute;
    left: 6vh;
    top: 1.5vh;
    text-align: center;
    font-size: 1vh;
    color: white;
    font-size: 1.3vh;
    font-family: "Roboto Condensed", sans-serif;
}

.profilepicture-option-description {
    position: absolute;
    left: 6vh;
    top: 3.6vh;
    text-align: center;
    font-size: 1vh;
    color: white;
    font-size: 1.1vh;
    font-family: "Roboto Condensed", sans-serif;
}

.profilepicture-option-current {
    position: absolute;
    right: 3vh;
    top: 2.5vh;
    text-align: center;
    font-size: 1.6vh;
    color: green;
    font-family: "Roboto Condensed", sans-serif;
}

.profilepicture-buttons {
    position: absolute;
    bottom: 40px;
    height: 5vh;
    width: 100%;
}

.profilepicture-button {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 4.7vh;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5vh;
}

.profilepicture-button:hover {
    border-top: .3vh solid rgb(39, 65, 65);
}

.profilepicture-custom {
    display: none;
    position: absolute;
    height: 40%;
    width: 80%;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.247);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -23vh;
    border-radius: 2vh;
    overflow: hidden;
}

.profilepicture-custom-title {
    font-family: "Roboto Condensed", sans-serif;
    padding: 2vh;
    font-size: 1.5vh;
    text-align: center;
}

.custom-profilepicture-input {
    position: absolute;
    left: 1vh;
    border: none;
    outline: none;
    height: 3.5vh;
    width: 21vh;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 2vh;
    text-align: center;
}

.custom-profilepicture-input::placeholder {
    text-align: center;
}

.profilepicture-custom-buttons {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    height: 5vh;
}

.custom-profilepicture-button {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 4.1vh;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5vh;
    transition: .08s;
    border-bottom: 2px solid #e8421800;
}

.custom-profilepicture-button:hover {
    font-weight: bolder;
    color: rgb(39, 65, 65);
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    /* display: inline-block; */
    width: 50px;
    height: 24px;
    top: 50%;
    right: 2vh;
    transform: translateY(-50%);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfdfdf;
    border: 1px solid black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}
